@page "/add-book"
@inherits BindableComponentBase

<PageContainer Title="Add Books" MaxWidth="MaxWidth.Large">
    <MudTextField @bind-Value="SearchQuery.Value"
                  Label="Enter search text"
                  Variant="Variant.Text" />
    @if (_totalItems == 0)
    {
        return;
    }

    <MudPaper Class="overflow-y-scroll mud-theme-transparent mt-5" MaxHeight="70vh" Outlined="true">
        <MudGrid Spacing="2">
            <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="GetBooksAsync">
                @foreach (var item in _results)
                {
                    <MudItem xs="12" lg="6">
                        <BookItem Item="item" SearchByAuthor="SearchByAuthor" />
                    </MudItem>
                }

                @if (_startIndex > 0 && !_reachedLast)
                {
                    <MudItem xs="12" lg="6">
                        <BookItem />
                    </MudItem>

                    @if (_results.Count % 2 == 0)
                    {
                        <MudItem xs="12" lg="6">
                            <BookItem />
                        </MudItem>
                    }
                }

                <MudItem>
                    <div id="observerTarget"></div>
                </MudItem>
            </InfiniteScroll>
        </MudGrid>
    </MudPaper>
</PageContainer>