@page "/add-book"
@inherits BindableComponentBase
@attribute [AllowAnonymous]

<PageContainer Title="Add Books" MaxWidth="MaxWidth.Large" LeftButton="AppBarLeftButton.Back">
    <TitleContent>
        <AppBarSearchBar Query="@Query" NavigateAction="OnNavigateForSearch" SearchAction="SearchAsync">
            <AppBarTitle />
        </AppBarSearchBar>
    </TitleContent>

    <MainContent>
        @if (string.IsNullOrEmpty(Query))
        {
            <p>Enter some words to search books.</p>
            return;
        }

        <MudGrid Spacing="2">
            <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="GetBooksAsync">
                @foreach (var item in _results)
                {
                    <MudItem xs="12" lg="6">
                        <BookItem Item="item" SearchByAuthor="SearchByAuthor" />
                    </MudItem>
                }

                @if (!ReachedLast || IsLoading.Value)
                {
                    <MudItem xs="12" lg="6">
                        <BookItem />
                    </MudItem>

                    @if (_results.Count % 2 == 0)
                    {
                        <MudItem xs="12" lg="6">
                            <BookItem />
                        </MudItem>
                    }
                }

                <MudItem>
                    <div id="observerTarget"></div>
                </MudItem>
            </InfiniteScroll>
        </MudGrid>
    </MainContent>
</PageContainer>