@page "/add-book"
@inherits BindableComponentBase

<PageContainer Title="Add Books" MaxWidth="MaxWidth.Large" LeftButton="AppBarLeftButton.Back">
    <TitleContent>
        <AppBarSearchField Query="@Query" NavigateAction="OnNavigateForSearch" SearchAction="SearchAsync" AutoFocus="true">
            <AppBarTitle />
        </AppBarSearchField>
    </TitleContent>

    <MainContent>
        @if (string.IsNullOrEmpty(Query))
        {
            <div style="text-align: center;" class="mt-8">
                <MudText Typo="Typo.h6" Class="mb-5">Search new books</MudText>
                <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="mb-5" />
                <MudText Typo="Typo.body2">
                    To search new books, enter search keywords on the top field.
                </MudText>
            </div>
            return;
        }

        <MudGrid Spacing="2">
            <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="GetBooksAsync">
                @foreach (var item in _results)
                {
                    <MudItem xs="12" lg="6">
                        <BookItem Item="item" SearchByAuthor="SearchByAuthor" />
                    </MudItem>
                }

                @if (!ReachedLast || IsLoading.Value)
                {
                    <MudItem xs="12" lg="6">
                        <BookItem />
                    </MudItem>

                    @if (_results.Count % 2 == 0)
                    {
                        <MudItem xs="12" lg="6">
                            <BookItem />
                        </MudItem>
                    }
                }

                <MudItem>
                    <div id="observerTarget"></div>
                </MudItem>
            </InfiniteScroll>
        </MudGrid>
    </MainContent>
</PageContainer>