@page "/add-book"

<PageContainer Title="Add Books" MaxWidth="MaxWidth.Small">
    <MudTextField @bind-Value="_searchQuery"
                  @bind-Value:after="ClearList"
                  Label="Enter search text"
                  Immediate="true"
                  Variant="Variant.Text" />

    @if (_totalItems == 0)
    {
        return;
    }

    <MudPaper Class="overflow-y-scroll mud-theme-transparent mt-5" MaxHeight="70vh" Outlined="true">
        <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="GetBooksAsync">
            @foreach (var item in _results)
            {
                <BookItem Item="item" SearchByAuthor="SearchByAuthor" />
            }

            @if (_startIndex > 0 && !_reachedLast)
            {
                <BookItem />
            }

            <div id="observerTarget"></div>
        </InfiniteScroll>
    </MudPaper>
</PageContainer>