@page "/login"
@inherits LoginPageBase

<PageContainer MaxWidth="MaxWidth.Small" TopPage="true" CenteredContainer>
    <TitleContent>
        <AppBarTitle Title="@AppInfo.Name" AlignCenter="true" />
    </TitleContent>

    <AppBarActions>
        <MudIconButton Icon="@Icons.Material.Filled.Info"
                       Color="Color.Inherit"
                       Edge="Edge.End"
                       Href="/about" />
    </AppBarActions>

    <ChildContent>
        <div style="text-align: center">
            <MudImage Src="images/dotnet_bot.svg" Width="128px" Alt="Dotnet Bot" Class="ma-4" />

            <MudText Typo="Typo.h4" Class="mt-4" GutterBottom="true">
                ログイン
            </MudText>
            <MudText Class="mt-6 mb-8" Typo="Typo.body1">
                下のボタンを押して続行します。
            </MudText>

            <div class="mx-4 mt-4">
                <MudButton Variant="Variant.Filled"
                        Color="Color.Primary"
                        FullWidth="true"
                        StartIcon="@Icons.Material.Filled.Login"
                        Size="Size.Large"
                        OnClick="Login">
                    ログイン
                </MudButton>
            </div>
        </div>
    </ChildContent>
</PageContainer>