<DialogBase Style="width: calc(100% - 24px); max-height: 95vh;"
            CloseButton="true"
            DisableSidePadding="true">
    <DialogContent>
        <div class="d-flex justify-center">
            <MudImage Src="@Image" Class="my-4" Fluid="true" Style="max-height: 85vh;" />
        </div>
    </DialogContent>
</DialogBase>

@code {
    [CascadingParameter] protected MudDialogInstance? MudDialog { get; set; }
    [Parameter] public string Image { get; set; } = string.Empty;

    public static async Task<DialogResult> ShowDialog(IDialogService dialogService, string? image)
    {
        var parameters = new DialogParameters { ["Image"] = image };
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            DisableBackdropClick = false
        };
        var dialog = dialogService.Show<ImageDialog>(string.Empty, parameters, options);
        return await dialog.Result;
    }
}
