@using System.Net
@using YomLog.Shared.Exceptions

@inherits BindableComponentBase

<MudThemeProvider @ref="@_mudThemeProvider"
                  Theme="new MudTheme()"
                  IsDarkMode="@LayoutService.IsDarkMode"
                  IsDarkModeChanged="LayoutService.SetDarkMode" />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="false"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="false" />
<MudSnackbarProvider />

<MudLayout>
    @AppBarSection

    @if (DrawerSection != null)
    {
        @DrawerSection
    }

    <MudMainContent Class="@LayoutService.Page.Value?.MainContentClass">
        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                <ExceptionReceiver />

                @if (LayoutService.IsInitializing.Value)
                {
                    <div class="d-flex justify-center mt-8">
                        <MudProgressCircular Class="mt-2" Size="Size.Medium" Indeterminate="true" />
                    </div>
                }
                else
                {
                    @ChildContent
                }
            </ChildContent>
            <ErrorContent>
                @if (context is IApiException e && e.StatusCode == HttpStatusCode.NotFound)
                {
                    @if (NotFoundSection != null)
                    {
                        @NotFoundSection
                    }
                    else
                    {
                        <NotFoundPage />
                    }
                }
                else
                {
                    <ExceptionAlert ErrorBoundary="_errorBoundary" Exception="context" ShowDetails="true" />
                }
            </ErrorContent>
        </ErrorBoundary>
    </MudMainContent>

    @if (LayoutService.Page.Value?.FooterContent != null)
    {
        @LayoutService.Page.Value.FooterContent
    }
</MudLayout>