<MudHidden Invert="true" Breakpoint="Breakpoint.Xs">
    @if (_showingSearchBar)
    {
        <form class="mud-width-full" @onsubmit="(() => NavigateForSearch(_searchText))">
            <MudTextField @ref="_searchField"
                          Class="ml-3"
                          Style="font-size: var(--mud-typography-body1-size); margin-top: 0px; color: var(--mud-palette-appbar-text);"
                          @bind-Value="_searchText"
                          Placeholder="Enter search text"
                          InputType="InputType.Search"
                          Clearable="true"
                          Margin="Margin.Dense"
                          AutoFocus="true"
                          OnBlur="RecoverSearchBarState" />
        </form>
    }
    else
    {
        @ChildContent

        <MudIconButton Icon="@Icons.Material.Filled.Search"
                       Color="Color.Inherit"
                       Edge="Edge.End"
                       OnClick="(() => _showingSearchBar = true)" />
    }
</MudHidden>

<MudHidden Invert="true" Breakpoint="Breakpoint.SmAndUp">
    @ChildContent

    <form style="width: 450px" @onsubmit="(() => NavigateForSearch(_searchText))">
        <MudTextField @ref="_searchField"
                      Class="ml-3"
                      Style="font-size: var(--mud-typography-body1-size); margin-top: 0px; color: var(--mud-palette-appbar-text);"
                      @bind-Value="_searchText"
                      Placeholder="Enter search text"
                      InputType="InputType.Search"
                      Clearable="true"
                      Margin="Margin.Dense"
                      Variant="Variant.Outlined" />
    </form>
</MudHidden>