@using YomLog.Domain.Books.DTOs
@using YomLog.BlazorShared.Services.Popup
@using YomLog.MobileApp.Services.Api

@inject IDialogService DialogService
@inject IPopupService PopupService
@inject BookApiService BookApiService

<MudCard>
    @if (Item != null)
    {
        <MudCardContent Class="d-flex flex-grow-1 gap-2">
            <div class="flex-grow-1">
                <MudText Class="mb-1">@Item.Title</MudText>
                <ItemList Items="Item.Authors" OnClickItem="(string author) => OnClickAuthor(author)" />
            </div>
            <MudImage Src="@Item.ThumbnailUrl" Height="128" />
        </MudCardContent>

        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="OnClickAddDetails">
                @(Item.IsNewItem ? "追加する" : "編集する")
            </MudButton>

            @if (!Item.IsNewItem)
            {
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="OnClickDelete">
                    削除する
                </MudButton>
            }
        </MudCardActions>
    }
    else
    {
        <MudCardContent Class="d-flex flex-grow-1 gap-2">
            <div class="flex-grow-1">
                <MudSkeleton Height="30px" Class="mb-1" />
                <MudSkeleton Height="20px" />
            </div>
            <MudSkeleton Height="160px" Width="90px" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="100px" Height="20px" />
        </MudCardActions>
    }
</MudCard>

@code {
    [Parameter] public BookDetailsDTO Item { get; set; } = null!;
    [Parameter] public EventCallback<string> SearchByAuthor { get; set; }

    private async Task OnClickAuthor(string author)
    {
        if (!SearchByAuthor.HasDelegate) return;
        await SearchByAuthor.InvokeAsync(author);
    }

    private Task OnClickAddDetails() => AddBookDialog.ShowDialog(DialogService, Item, SearchByAuthor);

    private Task OnClickDelete() => BookApiService.DeleteAsync(Item);
}